    <!-- BEGIN PAGE LEVEL PLUGINS --
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>   
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>  
    <script src="/static/metronic1.4/assets/plugins/flot/jquery.flot.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/bootstrap-daterangepicker/date.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>     
    <script src="/static/metronic1.4/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>  
    !-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS --
    <script src="/static/metronic1.4/assets/scripts/index.js" type="text/javascript"></script>
    <script src="/static/metronic1.4/assets/scripts/tasks.js" type="text/javascript"></script>        
    !-- END PAGE LEVEL SCRIPTS -->  
    <script src="/static/metronic1.4/assets/scripts/app.js" type="text/javascript"></script>
